body{
  background-color: #f2e8e6;
}

article{
  background-color: #f2e8e6;
}

header{
  font-family: "Adobe Caslon Pro";
  font-weight: bold;
  margin-bottom: 110px;
}

footer{
  margin-top: 35px;
  margin-left: 300px;
}

footer > ul{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  height: 250px;
  font-size: 24px;
  font-family: "Adobe Caslon Pro";
  color: #00a6c6;
}

footer li{
  list-style: none;
  margin-left: 0;
  margin-top: 15px;
  font-size: 20px;
  text-decoration: none;
}

footer a{
  text-decoration: none;
  color: #00a6c6;
}


.thumbnailhover{
  width: 100%;
}

.thumbnailhover:hover{
  opacity: 0.5;
}


.portfoliologo{
  width: 300px;
  margin-top: 33px;
}

.primarynav{
position: absolute;
top: 50px;
right: 0px;
z-index: 99;
font-size: 18px;
}

.primarynav > li{
  list-style: none;
  text-align: center;
  float: left;
  margin-left: 10px;
  margin-right: 40px;
  width: 10%;
}

.primarynav > li > a{
  padding: 5px;
  text-decoration: none;
  color: #00a6c6;
}

.secondarynav{
  width: 150%;
  display: none;
}

.secondarynav li{
  list-style: none;
  margin-left: 0;
}

.secondarynav a{
  text-decoration: none;
  background: #9bcede;
  display: block;
  padding: 10px;
  color: white;
}

.primarynav li:hover .secondarynav{
display: block;
}

.headerimage{
  width: 940px;
  position: relative;
  margin-bottom: 100px;
}

.homeh3{
  position: absolute;
  top: 315px;
  left: 580px;
  font-family: "Adobe Caslon Pro";
  font-weight: bold;
}

.adcampaignthumbnail{
  width: 400px;
  float: left;
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.deepdivethumbnail{
  width: 400px;
  float: left;
}


.freelancephotothumbnail{
  width: 300px;
  margin-bottom: 25px;
}

.infographicthumbnail{
  width: 300px;
  margin-left: 50px;
  margin-top: 0px;
  margin-right: 25px;
  float: left;
}

.publicationthumbnail{
  width: 500px;
  margin-bottom: 25px;
}

.multimediathumbnail{
  width: 500px;
  margin-left: 50px;
}

.tedtalkheader{
  width: 940px;
  position: relative;
  margin-bottom: 15px;
}

.tedtalkheaderp{
  font-family: "Adobe Caslon Pro";
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 45px;
    margin-left: 75px;
}

.tedtalksketches{
  width: 700px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.projectideation{
  font-family: "Cooper Black";
  font-size: 45px;
  margin-bottom: 0px;
  color: #00a6c6;
}

.ideationp{
  font-family: "Adobe Caslon Pro";
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 45px;
  margin-left: 290px;
}

.projectfinishline{
  font-family: "Cooper Black";
  font-size: 45px;
  margin-bottom: 0px;
  color: #00a6c6;
}

.projectsection{
  margin-left: 75px;
  margin-bottom: 75px;
}

.tedtalkimage{
  width: 400px;
  float: left;
  margin-right: 25px;
}

.tedtalkspread{
  width: 800px;
  margin-bottom: 25px;
}

.tedtalkp{
  font-family: "Adobe Caslon Pro";
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 45px;
}

.culturejamheader{
  width: 940px;
  position: relative;
  margin-bottom: 15px;
}

.culturejamsketches{
  width: 375px;
  margin-right: 25px;
  float: left;
}

.projectsectionideation{
  margin-left: 75px;
  margin-bottom: 400px;
}

.finalculturejam{
  width: 800px;
}

.aboutphoto{
  width: 300px;
  float: left;
  margin-right: 25px;
  margin-bottom: 150px;
}

.aboutsection{
  margin-top: 100px;
}

.abouth3{
  font-family: "Cooper Black";
  color: #00a6c6;
  font-size: 35px;
}

.aboutp{
  font-family: "Adobe Caslon Pro";
  font-size: 21px;
}

label{
  font-family: "Adobe Caslon Pro";
  display: block;
  font-weight: bold;
}

input{
  display: block;
}

input[type="text"] {
padding: 10px;
margin: 10px 0;
border-radius: 10px;
border: 0;
display: inline-block;
}

input[type="email"] {
padding: 10px;
margin: 10px 0;
border-radius: 10px;
border: 0;
}

input[type="textarea"] {
padding: 10px;
margin: 10px 0;
border-radius: 10px;
border: 0;
width: 50%;
height: 60px;
margin-left: 200px;
margin-bottom: 25px;
}

input[type="submit"]{
  border-radius: 10px;
  padding: 10px;
  border: 0;
  color; #ffffff;
  width: 10%;
  background-color: #faaa6c;
  margin-left: 330px;
  font-family: "Adobe Caslon Pro";
}

.projectsectionideationjam{
  margin-left: 75px;
  margin-bottom: 530px;
}

.resumeh2{
  font-family: "Cooper Black";
  color: #00a6c6;
  font-size: 35px;
}

.resumeh4{
  font-family: "Adobe Caslon Pro";
}

.designexperience{
  float: left;
  margin-right: 150px;
}

.skills{
  margin-bottom: 180px;
}

.professionalexperience{
  float: left;
  margin-right: 70px;
}

.localfoodsheader{
  width: 940px;
  position: relative;
  margin-bottom: 15px;
}

.deepdivesketches1, .deepdivesketches2{
  width: 600px;
}

.deepdivesketches2{
  margin-top: 25px;
}

.projectsectiondeepdive{
  margin-left: 75px;
  margin-bottom: 75px;
}

.ideationpdeepdive{
  font-family: "Adobe Caslon Pro";
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 45px;
  margin-left: 0px;
  margin-top: 15px;
}

.earlymockup1, .earlymockup2, .earlymockup3{
  width: 280px;
}

.bookcoverfinal1{
  width: 600px;
  margin-bottom: 25px;
}
/*
.earlymockup1{
  margin-right: 25px;
  float: left;
}

.earlymockup2{
    margin-bottom: 25px;
}

.earlymockup3{
  float: left;
  margin-right: 25px;
}

.projectsectionrightfoot{
  margin-left: 75px;
  margin-bottom: 520px;
}
*/
.revmockup1, .revmockup2, .revmockup3{
  width: 400px;
}

.revmockup1{
  margin-right: 25px;
  float: left;
}

.revmockup2{
  margin-bottom: 25px;
}

.revmockup3{
  float: left;
  margin-right: 25px;
}

.projectsectionalmostthere{
  margin-left: 75px;
  margin-bottom: 610px;
}

.finallocalfood1, .finallocalfood2, .finallocalfood3{
  width: 400px;
}

.finallocalfood2{
  margin-right: 25px;
  float: left;
}

.finallocalfood1{
  margin-bottom: 25px;
}

.finallocalfood3{
  float: left;
  margin-right: 25px;
}

.manifestosolo{
  width: 300px;
  float: left;
  margin-right: 25px;
}

.manifestomechanics{
  width: 400px;
  margin-bottom: 25px;
}

.manifestop{
  font-family: "Adobe Caslon Pro";
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 45px;
  float: left;
  margin-left: 380px;
}

.cemeteryphoto{
  margin-left: 50px;
  width: 380px;
  margin-right: 25px;
}

.shoppingphoto{
  width: 380px;
}

.theshardphoto{
  margin-top: 25px;
  margin-left: 50px;
  width: 790px;
}

.selfportraitpainting{
  width: 500px;
  margin-right: 25px;
  margin-bottom: 15px;
}

.selfportraitdisplay{
  width: 300px;
}

.portraitp{
  font-family: "Adobe Caslon Pro";
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 45px;
  float: left;
}

.localfoodsthumbnail{
  position: relative;
  width: 300px;
  margin-bottom: 25px;
  margin-top: 35px;
}

.foodjusticethumbnail{
  width: 400px;
  margin-bottom: 25px;
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 25px;
  float: left;
}

.foodjusticefinal{
  width: 800px;
}

.justicep{
  font-family: "Adobe Caslon Pro";
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 45px;
  margin-left: 260px;
