body{
  background-color: #f2e8e6;
}

article{
  background-color: #f2e8e6;
}

header{
  font-family: "Adobe Caslon Pro";
  font-weight: bold;
  margin-bottom: 110px;
}

.primarynav{
position: absolute;
top: 50px;
left: 750px;
z-index: 99;
font-size: 18px;
}

.primarynav > li{
  list-style: none;
  text-align: center;
  float: left;
  margin-left: 10px;
  margin-right: 40px;
  width: 10%;
}

.primarynav > li > a{
  padding: 5px;
  text-decoration: none;
  color: #00a6c6;
}

.secondarynav{
  width: 150%;
  display: none;
}

.secondarynav li{
  list-style: none;
  margin-left: 0;
}

.secondarynav a{
  text-decoration: none;
  background: #9bcede;
  display: block;
  padding: 10px;
  color: white;
}

.primarynav li:hover .secondarynav{
display: block;
}

.headerimage{
  width: 940px;
  position: relative;
  margin-bottom: 100px;
}

.homeh3{
  position: absolute;
  top: 315px;
  left: 580px;
  font-family: "Adobe Caslon Pro";
  font-weight: bold;
}

.adcampaignthumbnail{
  width: 500px;
  position: relative;
  float: left;
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.adcampaignheading{
  position: absolute;
  top: 1015px;
  left: 340px;
  font-family: "Cooper Black";
  font-style: italic;
  color: white;
  font-size: 35px;
}

.freelancephotothumbnail{
  position: relative;
  width: 300px;
  margin-bottom: 25px;
}

.freephotoheading{
  position: absolute;
  top: 980px;
  right: 470px;
  font-family: "Cooper Black";
  font-style: italic;
  color: white;
  font-size: 30px;
}

.infographicthumbnail{
  width: 300px;
  margin-left: 50px;
  margin-right: 25px;
  position: relative;
}

.infographicheading{
  position: absolute;
  font-family: "Cooper Black";
  font-style: italic;
  color: white;
  top: 1320px;
  left: 340px;
  font-size: 30px;
}

.publicationthumbnail{
  width: 500px;
  position: relative;
}

.publicationheading{
  position: absolute;
  font-family: "Cooper Black";
  font-style: italic;
  color: white;
  top: 1340px;
  right: 530px;
  font-size: 35px;
}
