body{
  background-color: #f2e8e6;
}

article{
  background-color: #f2e8e6;
}

header{
  font-family: "Adobe Caslon Pro";
  font-weight: bold;
  margin-bottom: 110px;
}

footer{
  margin-top: 35px;
  margin-left: 300px;
}

footer > ul{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  height: 250px;
  font-size: 24px;
  font-family: "Adobe Caslon Pro";
  color: #00a6c6;
}

footer li{
  list-style: none;
  margin-left: 0;
  margin-top: 15px;
  font-size: 20px;
  text-decoration: none;
}

footer a{
  text-decoration: none;
  color: #00a6c6;
}

/*
.hoverline h2{
  margin-top: 20px;
  position: relative;
}

.hoverline h2:after{
  content:"";
  width: 50%;
  height: 1px;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: -10px;
}
*/

.portfoliologo{
  width: 300px;
  margin-top: 33px;
}

.primarynav{
position: absolute;
top: 50px;
right: 0px;
z-index: 99;
font-size: 18px;
}

.primarynav > li{
  list-style: none;
  text-align: center;
  float: left;
  margin-left: 10px;
  margin-right: 40px;
  width: 10%;
}

.primarynav > li > a{
  padding: 5px;
  text-decoration: none;
  color: #00a6c6;
}

.secondarynav{
  width: 150%;
  display: none;
}

.secondarynav li{
  list-style: none;
  margin-left: 0;
}

.secondarynav a{
  text-decoration: none;
  background: #9bcede;
  display: block;
  padding: 10px;
  color: white;
}

.primarynav li:hover .secondarynav{
display: block;
}

.headerimage{
  width: 940px;
  position: relative;
  margin-bottom: 100px;
}

.homeh3{
  position: absolute;
  top: 315px;
  left: 580px;
  font-family: "Adobe Caslon Pro";
  font-weight: bold;
}

.adcampaignthumbnail{
  width: 500px;
  position: relative;
  float: left;
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.adcampaignheading{
  position: absolute;
  top: 1015px;
  left: 340px;
  font-family: "Cooper Black";
  font-style: italic;
  color: white;
  font-size: 35px;
}

.freelancephotothumbnail{
  position: relative;
  width: 300px;
  margin-bottom: 25px;
}

.freephotoheading{
  position: absolute;
  top: 980px;
  right: 470px;
  font-family: "Cooper Black";
  font-style: italic;
  color: white;
  font-size: 30px;
}

.infographicthumbnail{
  width: 300px;
  margin-left: 50px;
  margin-right: 25px;
  margin-top: 30px;
  position: relative;
}

.infographicheading{
  position: absolute;
  font-family: "Cooper Black";
  font-style: italic;
  color: white;
  top: 1350px;
  left: 330px;
  font-size: 30px;
}

.publicationthumbnail{
  width: 500px;
  position: relative;
  margin-bottom: 25px;
}

.publicationheading{
  position: absolute;
  font-family: "Cooper Black";
  font-style: italic;
  color: white;
  top: 1340px;
  right: 530px;
  font-size: 35px;
}

.multimediathumbnail{
  width: 500px;
  margin-left: 50px;
  position: relative;
}

.multimediaheading{
  position: absolute;
  font-family: "Cooper Black";
  font-style: italic;
  color: white;
  top: 1735px;
  left: 330px;
  font-size: 35px;
}

.tedtalkheader{
  width: 940px;
  position: relative;
  margin-bottom: 15px;
}

.tedtalkheaderp{
  font-family: "Adobe Caslon Pro";
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 45px;
}

.tedtalksketches{
  width: 700px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.projectideation{
  font-family: "Cooper Black";
  font-size: 45px;
  margin-bottom: 0px;
  color: #00a6c6;
}

.ideationp{
  font-family: "Adobe Caslon Pro";
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 45px;
  margin-left: 290px;
}

.projectfinishline{
  font-family: "Cooper Black";
  font-size: 45px;
  margin-bottom: 0px;
  color: #00a6c6;
}

.projectsection{
  margin-left: 75px;
}

.tedtalkimage{
  width: 400px;
  float: left;
  margin-right: 25px;
}

.tedtalkspread{
  width: 800px;
  margin-bottom: 25px;
}

.tedtalkp{
  font-family: "Adobe Caslon Pro";
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 45px;
}

.culturejamheader{
  width: 940px;
  position: relative;
  margin-bottom: 15px;
}

.culturejamsketches{
  width: 375px;
  margin-right: 25px;
  float: left;
}

.projectsectionideation{
  margin-left: 75px;
  margin-bottom: 400px;
}

.finalculturejam{
  width: 800px;
}

.aboutphoto{
  width: 300px;
  float: left;
  margin-right: 25px;
}

.aboutsection{
  margin-top: 200px;
}

.abouth3{
  font-family: "Cooper Black";
  color: #00a6c6;
  font-size: 35px;
}

.aboutp{
  font-family: "Adobe Caslon Pro";
  font-size: 21px;
}

.projectsectionideationjam{
  margin-left: 75px;
  margin-bottom: 480px;
}

.resumeh2{
  font-family: "Cooper Black";
  color: #00a6c6;
  font-size: 35px;
}

.resumeh4{
  font-family: "Adobe Caslon Pro";
}

.designexperience{
  float: left;
  margin-right: 150px;
}

.skills{
  margin-bottom: 180px;
}

.professionalexperience{
  float: left;
  margin-right: 70px;
}

.localfoodsheader{
  width: 940px;
  position: relative;
  margin-bottom: 15px;
}

.deepdivesketches1, .deepdivesketches2{
  width: 600px;
}

.deepdivesketches2{
  margin-top: 25px;
}

.projectsectiondeepdive{
  margin-left: 75px;
  margin-bottom: 75px;
}

.ideationpdeepdive{
  font-family: "Adobe Caslon Pro";
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 45px;
  margin-left: 0px;
  margin-top: 15px;
}

.earlymockup1, .earlymockup2, .earlymockup3{
  width: 400px;
}

.earlymockup1{
  margin-right: 25px;
  float: left;
}

.earlymockup2{
    margin-bottom: 25px;
}

.earlymockup3{
  float: left;
  margin-right: 25px;
}

.projectsectionrightfoot{
  margin-left: 75px;
  margin-bottom: 600px;
}
